body {
  -webkit-print-color-adjust: exact;
  width: 172mm;
}
header,
footer,
.copy,
video,
.effort,
.entry,
.contact,
.arrow {
  display: none;
}
.news_list {
  width: auto!important;
}
.news_list dt,
.news_list dd {
  font-size: 9pt!important;
  line-height: 18pt!important;
}
.news_list dt {
  width: 30%!important;
}
.news_list dd {
  width: 70%!important;
}
img.public,
img.opinion,
img.press {
    height: 12pt!important;
    width: auto!important;
}